.user-data {
  width: 100%;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.info-block {
  display: flex;
}

.create-block {
  padding: 24px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 24px;
}

.status {
  padding: 8px;
  background: #0b990b;
  color: white;
  margin-top: 8px;
  border: 1px solid black;
  border-radius: 5px;
}